.comments-filimo{
    overflow: hidden;
    width: 100%;
    background-color: var(--primary-color);
    padding:30px 30px 50px;
    .heading-comment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
      h2{
        color: white;
        font-size: 16px;
      }
      .custom-pagination {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        .swiper-button-prev3,
        .swiper-button-next3 {
            background-color: var(--primary-color); 
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            padding: 10px;
        }
       
      }
    }

    .swiper3 {
        width: 100%; 
    }
    
    .mySwiper3 {
        overflow: hidden; 
    }
    
    .swiper-wrapper {
        display: flex; 
    }
    .swiper-slide{
        height: 180px;
        border: 1px solid rgba(145, 145, 145, 0.475);
        border-radius: 10px;
        background-image: url(../../images/comment/virgol.webp);
        background-repeat: no-repeat;
        background-position: top left;
        background-position-x: 10px;
        background-position-y: 10px;
        background-color: #191919;
        padding: 20px;
        .profile{
            display: flex;
            flex-direction: row;
            column-gap: 15px;
            color: var(--text-gray);
            font-size: 15px;
        }
        .comment{
            color: white;
            font-size: 14px;
            padding-top: 20px;
        }
        
    }

    @media (max-width: 640px) {
        .mySwiper2 {
          max-width: calc(100% - 20px);
        }
      }
    
      @media (min-width: 640px) and (max-width: 768px) {
        .mySwiper2 {
          max-width: calc(100% - 40px); 
        }
      }
    
      @media (min-width: 768px) and (max-width: 1024px) {
        .mySwiper2 {
          max-width: calc(100% - 50px); 
        }
    }
}