.how-works{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .content{
        width:35%;
        padding: 10px 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .heading{
            width: 100%;
            h2{
                color: white;
                font-size: 20px;
                padding: 10px 0;
            }
            p{
                color: var(--text-lightgray) ;
                font-size: 13px;
                padding: 10px 0;
                padding-bottom: 50px;
            }
        }
        .options{
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            .option{
                width: 100%;
                display: flex;
                flex-direction: row;
                column-gap: 8px;
                justify-content: start;
                align-items: center;
                .icon span{
                    display: flex;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;
                    h5{
                        color: var(--text-lightgray);
                        font-size: 18px;
                    }
                    p{
                        color: var(--text-gray);
                        display: flex;
                        justify-content: start;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .btn{
        all: unset;
        width: 50%;
        background-color: rgb(106, 105, 105);
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: 1000ms;
        margin: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: gray;
            }
        a{
            all: unset;
            display: flex;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .banner{
        width: 65%;
        display: flex;
        img{
            max-width:600px;
            margin: 0 auto;
            object-fit: cover;
            }
        }
}